# List your project dependencies here
ollama
pdfplumber
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
sentence-transformers
elevenlabs
fastembed
langchain-postgres
psycopg2-binary # for postgres
unstructured[all-docs] # most difficult to install
